.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  margin-top: 60px;
}

section {
  transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.navbar {
  transition: 0.5s;
  max-height: 60px;
}

.nav-linka {
  color: #000;
}
.nav-linka:hover {
  color: #818181;
  text-decoration: none;
}

#background {
  height: auto;
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

.js-header-logo {
  height: 85px;
  width: auto;
}

.center {
  text-align: center;
}

h1 {
  position: relative;
  margin-top: -4.875rem;
  font-size: 4.75rem;
  color: #000;
  background-color: #fff;
  font-family: Genath, Times, serif;
  font-weight: 500;
  line-height: 1;
  width: 77.07368%;
  margin-left: 11.46316%;
}

.fancy {
  line-height: 0;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
  font-weight: bold;
  font-size: 25px;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 600px;
  overflow: hidden;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.subtitle {
  margin: 3em 0 3em 0;
}

div .sub{
  overflow: hidden;
}

.space{
  height: 30px;
}

.author{
  text-decoration: none;
  color: gray;
  margin-left: 10px;
}

.author:hover{
  cursor: pointer;
  text-decoration: none;
  color: gray;
  margin-left: 10px;
}

.tab{
  margin-left: 10px;
}